                                                            ul {
                                                                display: block;
                                                                list-style-type: disc;
                                                                margin-block-start: 1em;
                                                                margin-block-end: 1em;
                                                                margin-inline-start: 0px;
                                                                margin-inline-end: 0px;
                                                                padding-inline-start: 40px;
                                                            }
                                                            
                                                            .nav-justified {
                                                                width: 100%;
                                                            }
                                                            
                                                            .nav {
                                                                padding-left: 0;
                                                                margin-bottom: 0;
                                                                list-style: none;
                                                            }
                                                            
                                                            .nav-pills>li.active>a,
                                                            .nav-pills>li.active>a:focus,
                                                            .nav-pills>li.active>a:hover {
                                                                color: #fff;
                                                                background-color: #448fd6;
                                                            }
                                                            
                                                            @media (min-width: 768px) {
                                                                .nav-justified>li>a {
                                                                    margin-bottom: 0;
                                                                }
                                                                .nav-justified>li>a {
                                                                    margin-bottom: 5px;
                                                                    text-align: center;
                                                                }
                                                                .nav-pills>li>a {
                                                                    border-radius: 1px;
                                                                }
                                                                .nav>li>a {
                                                                    position: relative;
                                                                    display: block;
                                                                    padding: 10px 15px;
                                                                }
                                                            }
                                                            
                                                            .panel-body {
                                                                padding: 10px;
                                                                display: block;
                                                            }
                                                            
                                                            .panel-group .panel {
                                                                border-radius: 7px;
                                                            }
                                                            
                                                            .panel-group .panel {
                                                                margin-bottom: 0;
                                                                border-radius: 10px;
                                                            }
                                                            
                                                            .panel {
                                                                margin-bottom: 18px;
                                                                background-color: #fff;
                                                                border: 0 solid #0000;
                                                                box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
                                                                border-radius: 7px;
                                                            }
                                                            
                                                            .panel-group .panel+.panel {
                                                                margin-top: 5px;
                                                            }
                                                            
                                                            .panel-default {
                                                                border-color: #ddd;
                                                            }
                                                            
                                                            .media {
                                                                display: -ms-flexbox;
                                                                display: flex;
                                                                -ms-flex-align: start;
                                                                align-items: flex-start;
                                                            }
                                                            
                                                            .btn-new-apartment-simple {
                                                                color: #fff;
                                                                background-color: #80ad15;
                                                                border-color: #6f9612;
                                                                border-radius: 60px;
                                                            }
                                                            
                                                            .form-filters {
                                                                /* position: fixed;
    width: 80%; */
                                                                z-index: 9999 !important;
                                                            }
                                                            
                                                            @media (min-width: 720px) {
                                                                .well.ps {
                                                                    padding-right: 13px;
                                                                }
                                                                .scroll.ps {
                                                                    overflow: auto!important;
                                                                    scrollbar-width: none;
                                                                    -ms-overflow-style: none;
                                                                }
                                                                .modal-dialog,
                                                                .native-scroll:last-of-type,
                                                                .scroll:last-of-type {
                                                                    padding-bottom: 150px;
                                                                }
                                                                .ps {
                                                                    overflow: hidden!important;
                                                                    overflow-anchor: none;
                                                                    -ms-overflow-style: none;
                                                                    touch-action: auto;
                                                                    -ms-touch-action: auto;
                                                                }
                                                                .well {
                                                                    background-color: #f0f0f0;
                                                                    border: none;
                                                                    border-radius: 0;
                                                                    box-shadow: none;
                                                                    margin-bottom: 0;
                                                                }
                                                            }
                                                            
                                                            @media (min-width: 992px) {
                                                                .native-scroll,
                                                                .scroll {
                                                                    height: calc(100vh - 45px);
                                                                    overflow-y: auto;
                                                                    margin-top: -20px;
                                                                    margin-bottom: -80px;
                                                                }
                                                                .well {
                                                                    background-color: #f1f1f1;
                                                                }
                                                                .well-sm {
                                                                    padding: 9px;
                                                                    border-radius: 1px;
                                                                }
                                                                .well {
                                                                    min-height: 20px;
                                                                    padding: 19px;
                                                                    margin-bottom: 20px;
                                                                    background-color: #f5f5f5;
                                                                    border: 1px solid #e3e3e3;
                                                                    border-radius: 1px;
                                                                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
                                                                }
                                                                .panel-group {
                                                                    margin-bottom: 18px;
                                                                }
                                                            }
                                                            
                                                            @media (min-width: 768px) {
                                                                .col-sm-9 {
                                                                    width: 75%;
                                                                }
                                                            }
                                                            
                                                            @media (min-width: 768px) {
                                                                .col-sm-1,
                                                                .col-sm-10,
                                                                .col-sm-11,
                                                                .col-sm-12,
                                                                .col-sm-2,
                                                                .col-sm-3,
                                                                .col-sm-4,
                                                                .col-sm-5,
                                                                .col-sm-6,
                                                                .col-sm-7,
                                                                .col-sm-8,
                                                                .col-sm-9 {
                                                                    float: left;
                                                                }
                                                                .col-lg-1,
                                                                .col-lg-10,
                                                                .col-lg-11,
                                                                .col-lg-12,
                                                                .col-lg-2,
                                                                .col-lg-3,
                                                                .col-lg-4,
                                                                .col-lg-5,
                                                                .col-lg-6,
                                                                .col-lg-7,
                                                                .col-lg-8,
                                                                .col-lg-9,
                                                                .col-md-1,
                                                                .col-md-10,
                                                                .col-md-11,
                                                                .col-md-12,
                                                                .col-md-2,
                                                                .col-md-3,
                                                                .col-md-4,
                                                                .col-md-5,
                                                                .col-md-6,
                                                                .col-md-7,
                                                                .col-md-8,
                                                                .col-md-9,
                                                                .col-sm-1,
                                                                .col-sm-10,
                                                                .col-sm-11,
                                                                .col-sm-12,
                                                                .col-sm-2,
                                                                .col-sm-3,
                                                                .col-sm-4,
                                                                .col-sm-5,
                                                                .col-sm-6,
                                                                .col-sm-7,
                                                                .col-sm-8,
                                                                .col-sm-9,
                                                                .col-xs-1,
                                                                .col-xs-10,
                                                                .col-xs-11,
                                                                .col-xs-12,
                                                                .col-xs-2,
                                                                .col-xs-3,
                                                                .col-xs-4,
                                                                .col-xs-5,
                                                                .col-xs-6,
                                                                .col-xs-7,
                                                                .col-xs-8,
                                                                .col-xs-9 {
                                                                    position: relative;
                                                                    min-height: 1px;
                                                                    padding-right: 8px;
                                                                    padding-left: 8px;
                                                                }
                                                            }
                                                            
                                                            .panel-resultado {
                                                                background-color: rgba(230, 230, 230, 0.945);
                                                                padding-top: 5px;
                                                                margin-top: 3px;
                                                            }